name: Deploy D1 Migrations

on:
  push:
    branches: [ main ]
    paths:
      - 'schema/migrations/*.sql'    # запускать только на миграции!

jobs:
  apply-d1-migrations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Wrangler
        run: npm install -g wrangler

      - name: Apply D1 migrations (remote)
        working-directory: ./src/api
        env:
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        run: |
          echo "Running D1 migrations from ./schema/migrations ..."
          wrangler d1 migrations apply 301 --remote
          echo "Migrations complete."

