name: Deploy D1 Migrations

on:
  push:
    branches: [ main ]
    paths:
      - 'schema/migrations/*.sql'

jobs:
  apply-d1-migrations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Wrangler
        run: npm install -g wrangler

      - name: Apply D1 migrations (remote)
        working-directory: ./src/api
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        run: |
          wrangler d1 migrations apply DB301 --remote


